{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-3">
    <h3>Welcome {{request.user}}</h3>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change password done</a></li>

        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
        <h3>Password change Successfully!!</h3>
        <div><iframe src="https://giphy.com/embed/ibolLe3moqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy_embed" allowfullscreen></iframe> </div>
    </div>
</div>
{% endblock main-content %}